<div class="enrollee-create">
  <a ng-click="$ctrl.showModal = $ctrl.showModal ? false:true">Sign Up Enrollee</a>

  <div class="modal" id="create-enrollee" ng-show="$ctrl.showModal">
    <div class="modal-container">
      <a class="modal-close create-exit" ng-click="$ctrl.showModal = $ctrl.showModal ? false:true">x</a>
      <label> Create A Enrollee </label>
        <form novalidate ng-submit="$ctrl.handleSubmit()">

            <input class="text-form" type="text" ng-model="$ctrl.enrollee.name" placeholder="Name"/>

            <input class="text-form" type="text" ng-model="$ctrl.enrollee.password" placeholder="Password"/>

            <button type="button" class="file-upload"
            ngf-select
            ng-model="$ctrl.enrollee.img">
            Upload Photo
            </button>

            <button class="btn" type="submit"> Create </button>
        </form>
      </div>
  </div>
</div>
