<div class="enrollee-create">
  <a ng-click="$ctrl.showModal = $ctrl.showModal ? false:true">Sign Up Enrollee</a>

  <div class="modal" id="create-enrollee" ng-show="$ctrl.showModal">
    <div class="modal-container">
        <form novalidate ng-submit="$ctrl.handleSubmit()">
            <label> Name </label>
            <input class="text-form" type="text" ng-model="$ctrl.enrollee.name" />

            <label> Password </label>
            <input class="text-form" type="text" ng-model="$ctrl.enrollee.password" />

            <button class="file-upload"
            ngf-select
            ng-model="$ctrl.enrollee.img">
            Upload Photo
            </button>

            <button class="btn" type="submit"> Create Enrollee </button>
            <a ng-click="$ctrl.showModal = $ctrl.showModal ? false:true">close</a>
        </form>
      </div>
  </div>
</div>
