@import "../../scss/_theme.scss";
@import "../../scss/_custombootstrap";
@import "../../scss/_layout.scss";

.ng-scope {
  background-color: $c-tan;
  // background-image: url("http://www.free-icons-download.net/images/locking-house-icons-84061.png");
  // background-repeat: no-repeat;
  // background-position: right;
  // background-attachment: fixed;
}
.home {
  // margin-top: -10em;
  margin: 0 auto;
  width:35%;
  height:50%;
}

// .login-page {
//   background-image: url("http://www.free-icons-download.net/images/locking-house-icons-84061.png");
//   background-repeat: no-repeat;
//   background-position:right;
//   background-attachment: fixed;
//   padding-bottom:30%;
//   background-size: 400px 400px;
// }

.login-header {
  font-family: $font-lora;
  font-weight: 400;
  font-size: 1em;
  color:$c-brown * 0.9;
}
.login {
  width: 50%;
  height: 100%;
  background-color: $c-white;
  color:$c-grey;
  display: flex;
  align-self: center;
  text-align: center;
  padding: 1em;
  font-size: 1em;
  margin:0 auto;
  margin-top: $s-margin-top * 2;
  border-radius: 0.5em;

}

.login-message {
  width: 100%;
  margin-bottom: 1.5em;
  vertical-align: middle;
  align-items: center;
  text-align: center;
}

.email {
  width: 80%;
  margin-bottom: .5em;
  padding: $form-padding;
  color: $c-primary * 0.8;
  border-bottom: 1px solid $c-black;
  }

input{
  border: none;
}

hr.style2 {
	border-top: 3px double #8c8b8b;
  width:50%;
  margin: 0 auto;
}

.login-header{
  color: $c-primary * 0.8;
  margin:0 auto;
  width:50%;
}

// .btn {
//   width: 30%;
//   margin-top: .4em;
//   display: inline-block;
// }

.login-btn {
  width:30%;
  color:$c-white;
  display: inline-block;
  margin-top: .4em;
  background-color: $c-greylight *0.2;
}

.sign-btn {
  width:30%;
  color:$c-white;
  display: inline-block;
  margin-top: .4em;
  background-color: $c-greylight * 0.2;
}
