<div class="go-home" ng-click="$ctrl.goHome()"><i class="fa fa-home" aria-hidden="true"></i></div>

<div class="form-group">
  <img class="home img-responsive" src="http://www.free-icons-download.net/images/locking-house-icons-84061.png" alt="home">
  <div class="login-header"><h2 class="login-message"> Login to <span class="login-header">HomeSecure</span> </h2></div>
  <hr class="style2">
  <div class="login">
    <form
      ng-submit="$ctrl.handleSubmit($ctrl.user)"
      novalidate>
      <input class="email" type="email" ng-model="$ctrl.user.email" placeholder="email">
      <input class="email" type="password" ng-model="$ctrl.user.password" placeholder="password">
      <button class="login-btn"> login </button>
      <button class="sign-btn"> sign-up </button>
    </form>
  </div>
</div>
