

  <section class="wrapper">
    <section class="section parallax bg1">
            <div class="box">
              <h2 class="heading">
                Simple Home Security
              </h2>
              <p>Like renting your home, but don't like the hassle? Enough with the endless back and forth emails. Enough with all the complex planning. Lets make it easy!</p>
              <div class="button" ng-click="$ctrl.loginPage()"><a href="">Get Started</a></div>
            </div>

    </section>
    <section class="section static">
      <h3> How it works: </h3>
      <div class="info-box">
          <div class="item">
            <i class="fa fa-camera" aria-hidden="true"></i>
            <h4>Photo Recognition</h4>
            <span class="border"></span>
            <p>Upload a photo of the individual, and when the time comes our system will verify that their face matches that photo.</p>
          </div>
      </div>
      <div class="info-box">
        <div class="item">
          <i class="fa fa-microphone" aria-hidden="true"></i>
          <h4>Spoken Password</h4>
          <span class="border"></span>
          <p>Set up a password prior to, and then when prompted all they have to do is repeat that password.</p>
      </div>

    </section>
    <section class="section parallax bg2">
        <div class="foot-box">
          <h2>Let's make hosting your home a little easier</h2>
          <div class="button" ng-click="$ctrl.loginPage()"><a href="">Get Started</a></div>
        </div>
        <div class="foot-tag">
          <a href="https://github.com/rpcvjet/HomeSecure"><i class="fa fa-github-square" aria-hidden="true"></i></a>
        </div>
    </section>
  </section>
